.form1{
  position: relative;
  border:solid white;
  background-color: #feefd9;
  border-width: 20px;
}
.form2{
  position: relative;
  border:solid white;
  background-color: #feefd9;
  border-width: 20px;
  line-height: 25px;

}


.dropdown1{

  width: 370px;
}

.dropdown2{
  width: 170px;
}

textarea{
  height: 25px;
  width: 50px;
}
